.footer-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  width: 30%;
  padding: 0.3rem 0;
  text-align: center;
}

@media only screen and (max-width: 920px) {
  .footer-grid {
<<<<<<< HEAD
=======
    display: grid;
>>>>>>> 1fcb4070a2c175ce60978b057582ef2dc935113d
    grid-template-columns: 1fr;
  }

  .footer-company-column {
    grid-area: 1/1/2/4;
    margin-bottom: 3rem;
  }
}
