.card-horizontal {
  width: 100%;
}

.btn-item-quantity {
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}

.field-item-quantity {
  width: 3rem;
}

.btn-primary {
  padding: 0.5rem 0.8rem;
}

@media only screen and (max-width: 755px) {
  .card-horizontal {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
